<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer class="sidenav" 
    fixedInViewport="true" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" 
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/front-page">
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine> Startseite </h3>
      </mat-list-item>
      <mat-list-item routerLink="/current-utilization">
        <mat-icon matListIcon>desktop_windows</mat-icon>
        <h3 matLine> Aktuelle Auslastung </h3>
      </mat-list-item>
      <mat-list-item routerLink="/prediction">
        <mat-icon matListIcon>bar_chart</mat-icon>
        <h3 matLine> Vorhersage </h3>
      </mat-list-item>
      <mat-list-item routerLink="/opening-hours">
        <mat-icon matListIcon>access_time</mat-icon>
        <h3 matLine> Öffnungszeiten </h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button 
        type="button" 
        aria-label="Toggle sidenav" 
        mat-icon-button (click)="drawer.toggle()" 
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>my-app</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>