<app-main-nav>
    <head>
        <title>Aktuelle Auslastung</title>
    </head>
    <h1 id="title">Aktuelle Auslastung</h1>

    <div id="layout">
      <canvas id="roomCanvas" width="screen.width" height="screen.width"></canvas>
      <canvas id="doorCanvas" width="200" height="200"></canvas>
      <div *ngFor="let element of poolElements"
           [ngStyle]="{ width: unit*element.width + 'px',
                        height: unit*element.length + 'px',
                        left: unit*element.pos.x + 'px',
                        top: unit*element.pos.y + 'px',
                        border: 'solid 1px #000',
                        position: 'absolute',
                        display: 'inline-block',
                        background: getBackgroundImageByType(element.type) + ' no-repeat',
                        'background-size': 'contain'
                      }"
            id="{{ element.type + element.id }}">
             <span [ngStyle]="{	'vertical-align': 'top',
             	                  'font-size': '1.5vw'}"> {{ element.id }} </span>
      </div>

      <div>
        <p [style.top]="unit*180 + 'px'" class="para">Aktuelle Auslastung: {{ percentageOccupied }}%</p>
        <p [style.top]="unit*180 + 'px'" class="para">Belegte Rechner: {{numberOfOccupiedPCs}} </p>
      </div>

    </div>
</app-main-nav>