
<h2 mat-dialog-title>Öffnungszeiten ändern</h2>

<div class="edit-oh-table">
  <table>
    <tr *ngFor="let ohday of oHweek">
      <td [ngSwitch]="ohday.day">
        <h5>
          <div *ngSwitchCase="'MONDAY'">Montag: </div>
          <div *ngSwitchCase="'TUESDAY'">Dienstag: </div>
          <div *ngSwitchCase="'WEDNESDAY'">Mittwoch: </div>
          <div *ngSwitchCase="'THURSDAY'">Donnerstag: </div>
          <div *ngSwitchCase="'FRIDAY'">Freitag: </div>
          <div *ngSwitchCase="'SATURDAY'">Samstag: </div>
          <div *ngSwitchCase="'SUNDAY'">Sonntag: </div>
        </h5>
      </td>
      <td>
        <mat-form-field class="time-from-field">
          <input
            [(ngModel)]= "ohday.from"
            aria-label="24hr format" 
            maxlength="5" 
            [ngxTimepicker]="picker1"
            [format]="24" 
            matInput #input placeholder="Von:" 
            value="07:00">
          <ngx-material-timepicker #picker1></ngx-material-timepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="time-form-field">
          <input
            [(ngModel)]= "ohday.to"
            aria-label="24hr format" 
            maxlength="5" 
            [ngxTimepicker]="picker2" 
            [format]="24" 
            matInput #input placeholder="Bis:" 
            value="21:00">
          <ngx-material-timepicker #picker2></ngx-material-timepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>   
</div>

<button (click)="cancel()" mat-button>Cancel</button>
<button (click)="save()" id="Save" mat-raised-button color="primary">Save</button>