.box {
  background: #BADA55;
  border: 1px solid black;
  padding: 10px 20px;
  width: 100px;
  &.dragging {
    background: coral;
  }
}

.element {
  background: black;
}

h1 {
  font-size: 6vw;
	text-align: center;
}

.square {
	border: solid 1px red;
  width: 50px;
	height: 50px;
	float: left;
	background: #fff;
  display: inline-block;
	background-size: cover;
	position: absolute;
}

#layout {
	position: relative;
}
