<app-main-nav>
  <body>
<div id="container">

  <h1>Layout Editor </h1>

  <div class="container">

      <!-- Form to adjust layout's width and height -->
      <div id="layoutParameter">
          <h3> Kenngröße des Layouts </h3>
          Width: <input placeholder="width"  [(ngModel)]="layoutWidth" />
          Height: <input placeholder="height"  [(ngModel)]="layoutHeight" />
          <button (click)="createGridLayout();">Create</button>
      </div>

      <!-- Layout -->
      <div id="layout">
      </div>

      <!-- Save button -->
      <div class="row justify-content-center" *ngIf="show">
       <div class="col-4">
         <button class="btn btn-primary"  (click)="save();">Save</button>
       </div>
     </div>

     <!-- Element which is added to the layout -->
      <div id="element">
          <h3> Kenngröße des Elements </h3>
          Width: <input placeholder="width"  [(ngModel)]="elementWidth" />
          Height: <input placeholder="height"  [(ngModel)]="elementHeight" />
          <select [(ngModel)]="elementType" id="category">
           <option value="" disabled selected>Select type</option>
           <option *ngFor="let elementType of elementTypes" [value]="elementType">{{elementType}}</option>
         </select>
          <button (click)="createElement();">Create</button>

          <div id="element0" appDraggable
            (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
          </div>
          <div id="element1" appDraggable
            (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
          </div>
          <div id="element2" appDraggable
            (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
          </div>
          <div id="element3" appDraggable
            (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
          </div>
          <div id="element4" appDraggable
            (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
          </div>
          <div id="element5" appDraggable
            (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
          </div>
      </div>

    </div>
</div>
</body>
</app-main-nav>
