.material-icons{
    margin-top: 3vh;
    font-size: 6vh;
    height: 6vh;
    width: 6vh;
}

a{
    color: white;
    text-align: center;
    vertical-align: middle;
}

h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.info{
    text-align: center;
    font-size: 3vh;
    margin-bottom: 5vh;
}

.tilegrid {
    margin: 3vw;
}

p {
    text-align: center;
}