<div>        
    <h2>Wilkommen auf der Haupseite</h2>
</div>

<!---responsive grid (pls work)-->
<div class="row">
    <div class="column">
        <a routerLink="currentUtilization.html"><img src="/assets/img/homePageIcons/img_curr_util.png" width="200" height=auto>
        Aktuelle Auslastung</a>
    </div>
    <div class="column">
        <a routerLink="openingHours.html">
          <img src="/assets/img/homePageIcons/img_opening_hours.png" width="200" height=auto>
        Öffnungszeiten
      </a>
    </div>
    <div class="column">
      <a routerLink="reservation.html">
        <img src="/assets/img/homePageIcons/img_reservation.png" width="200" height=auto>
        Reservierungen
      </a>
    </div>
    <div class="column">
        <a routerLink="/prediction"><img src="/assets/img/homePageIcons/img_statistic.png" width="200" height=auto>
        Vorhersage</a>
    </div>
    <div class="column">
        <a routerLink="/statistics"><img src="/assets/img/homePageIcons/img_layout_editor.png" width="200" height=auto>
        Layout Editor</a>
    </div>
</div>