<app-main-nav>
    <div>
        <h2>Willkommen auf der Haupseite</h2>
    </div>
    <mat-grid-list cols="2" rowHeight="16:9">
        <mat-grid-tile 
        *ngFor="let tile of tiles" 
        [colspan]="tile.cols" 
        [rowspan]="tile.rows" 
        [style.background]="tile.color">
            <a routerLink={{tile.routerLink}}>
                <mat-icon matGridListIcon>{{ tile.imgSrc }}</mat-icon>
                <p>
                    {{ tile.text }}
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</app-main-nav>